@font-face {
    font-family: dima2;
    src: url('../asset/dima2.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: dimadigi;
    src: url('../asset/dimadigital.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav{
    width: 25%;
    height: 100vh;
    background-color: rgba(241, 241, 241, 0.8);
    border-left:1px solid rgb(177, 177, 177);
    box-shadow: inset 0 0 10px #a8a8a8;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: dima2;
}
#menu-top-chapter{
    color: navy;
    font-size: calc(1.7vw + 3px);
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
} 
#menu-top-chapter p{
    font-size: calc(0.5vw + 5px);
    color: blue;
    border-bottom: 1px solid blue;
}
#menu-top-chapter img{
    border-radius: 100%;
    width: calc(7vw + 45px);
    object-fit: cover;
}
#menu-top-chapter *{
    margin: 2px 0 2px 0;
}
#menu-middle-chapter{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}
#menu-middle-chapter *{
    margin: 3px 0;
}
#menu-middle-chapter a{
    font-size: calc(1.5vw + 10px);
    text-decoration: none;
    color:rgb(2, 2, 204);
}
#menu-middle-chapter a:hover{
    border-bottom:1px solid rgb(69, 69, 250);
    border-radius: 15px;
    padding: 3px;
    color: rgb(79, 79, 255);
}
#menu-middle-chapter a:active{
    color: rgb(3, 3, 161);
}
#social{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
#social *{
    width: calc(3vw + 20px);
}
#stack ,#git{
    background-color: #f2f5ff;
    border-radius: 15px;
    padding: 2px;
}
#content{
    width: 75%;
    display: inline-block;
    font-size: calc(2vw + 6px);
}
#about-me{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../asset/background-page-about-me.jpg);
    background-repeat: round;
}
#about-me p{
    width: 45vw;
    border-radius: 15px;
    font-family: dimadigi;
    background-color: #ffffffdd;
    text-align: center;
    color: #3460c2;
    padding: 20px;
    border: 1px solid #609098;
}
#resume{
    height: 100vh;
    background-image: url(../asset/background-page-resume.jpg);
    background-repeat: round;
    padding-top: 5%;
}
#paragraf-resume{
    display: flex;
    justify-content: space-around;
    font-family: dimadigi;
}
#paragraf-resume p{
    border: 1px solid #609098;
    background-color: #ffffffdd;
    color: #3460c2;
    border-radius: 15px;
    padding: 5px;
}
#portfo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../asset/background-page-portfo.jpg);
    background-repeat: round;
}
#portfo p{
    font-family: dimadigi;
    color: #3460c2;
    border:1px solid #609098;
    border-radius: 10px;
    background-color: #ffffffdd;
    padding: 5px;
}
#call{
    height: 100vh;   
    display: flex;
    flex-direction: column;
    font-family: tahoma;
    align-items: center;
    justify-content: center;
    background-image: url(../asset/background-page-call.jpg);
    background-repeat: round;
}
table{
    background-color: #ffffffdd;
    color: #3460c2;
    text-align: center;
    border: 1px solid #609098;
    border-radius: 15px;
    padding: 5px;
}